@model UrlShortener.Models.ShortenedUrl

<h2 class="d-flex justify-content-center">Your url has been shortened!</h2>

<br/>
<br/>

<div class="row">
    <div class="d-flex justify-content-center">
        <section>
            <label asp-for="Url" class="col-md-4 control-label"></label>
            <div class="col-md-12">
                @Model.Url
            </div>

            <br/>

            <label asp-for="ShortenedKey" class="col-md-4 control-label"></label>
            <div class="col-md-12">
                <a href="@Model.ShortenedKey">@Model.ShortenedKey</a>
                <br/>
            </div>
            <br/>
        </section>
    </div>
</div>