@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the URL shortener</h1>
    <a class="btn btn-outline-primary" asp-controller="UrlShortener" asp-action="Shorten">Enter shortener</a>
</div>